body {
	background-color: #f8f9fa;
}

.homepage-studente {
	background-color: #f8f9fa;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.homepage-studente .div {
	background-color: #f8f9fa;
	width: 1440px;
	position: relative;
}

.elenchi {
	position: relative;
	top: 313px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: stretch;
}

.sfondo-elenco {
	width: 100%;
	display: grid;
	grid-template-columns: auto auto;
	background-color: #f5e9dd80;
	border-radius: 20px;
	padding: 10px;
}

.card {
	background-color: #f8f9fa;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid;
	border-color: #0000000d;
	box-shadow: 3px 3px 5px #00000033;
	padding: 10px;
	font-size: 30px;
	width: 677px;
	height: 210px;
	margin-top: 20px;
	text-align: center;
}

.titolo_sottoElenco{
	font-family: "Inter-Regular", Helvetica;
	color: #2e4057;
	font-size: 25px;
	letter-spacing: 0;
}

.internship-info {
	height: 100%;
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
}

.card-company {
	position: relative;
	top: 5px;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #2e4057;
	font-size: 40px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.card-info {
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #2e4057;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.homepage-studente .schede {
  position: absolute;
  width: 1440px;
  height: 63px;
  top: 126px;
  left: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.schede>div {
  padding: 10px 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #2e4057;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.homepage-studente .text-wrapper-6 {
	position: absolute;
	top: 15px;
	left: 373px;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #2e4057;
	font-size: 25px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	cursor: pointer;
}

.homepage-studente .overlap-group {
	position: absolute;
	width: 243px;
	height: 31px;
	top: 15px;
	left: 60px;
}

.homepage-studente .text-wrapper-7 {
	position: absolute;
	top: 0;
	left: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #a37659;
	font-size: 25px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	cursor: pointer;
}

.homepage-studente .overlap {
	position: absolute;
	width: 729px;
	height: 56px;
	top: 229px;
	left: 380px;
}

.homepage-studente .lucide-filter {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 699px;
}

.homepage-studente .component {
	position: absolute;
	width: 729px;
	height: 56px;
	top: 0;
	left: 0;
}

.homepage-studente .barra-ricerca {
	width: 680px;
	height: 56px;
	background-color: #f5e9dd;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.homepage-studente .search-icon-wrapper {
	position: absolute;
	width: 76px;
	height: 56px;
	top: 0;
	left: 604px;
	background-color: #a37659;
	border-radius: 20px;
}

.homepage-studente .search-icon {
	position: absolute;
	width: 38px;
	height: 38px;
	top: 9px;
	left: 19px;
}

.homepage-studente .text-wrapper-8 {
	position: absolute;
	top: 15px;
	left: 20px;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #2e405780;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
	
	border: none; 
    background: none; 
    outline: none; 
    width: calc(100% - 100px);
    height: 100%; 
    padding: 0;
    box-sizing: border-box;
}

.homepage-studente .barra-superiore {
	width: 1440px;
	height: 86px;
	background-color: #ffffff;
	border-radius: 0px 0px 20px 20px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

.homepage-studente .profilo {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 17px;
	left: 1368px;
}

.homepage-studente .titolo {
	position: absolute;
	width: 459px;
	top: 15px;
	left: 490px;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #2e4057;
	font-size: 45px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.homepage-studente .home {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 26px;
	left: 30px;
}